<footer class="bg-dark py-4 my-2">
    <div class="container-fluid text-white">
        <div class="row justify-content-center">

            <div class="col-lg-2 text-left">
                <h5 class="text-uppercase fw-bold text-info">Onde somos?</h5>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, voluptatem? Commodi aut consequatur accusamus nostrum 
                </p>
            </div>

            <div class="col-lg-4 text-left">
                <h5 class="text-uppercase fw-bold text-info">Onde queremos chegar?</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus atque dolor eveniet alias quibusdam quos asperiores sapiente, necessitatibus eaque aspernatur impedit eius ducimus sunt libero, deleniti non sint repellendus.
                </p>
            </div>

            <div class="col-lg-2">
                <h5 class="text-uppercase fw-bold text-info">Siga-nos nas redes</h5>

                <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">YouTube</a> 
                </p>

                <p>
                    <i class="fa-brands fa-github"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">GitHub</a>
                </p>

                <p>
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">Linkedin</a>
                </p>
            </div>

        </div>
    </div>
</footer>