<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Academia Python</title>
</head>
<body>
    
    Olá, <strong>{{ nome }}</strong>. Tudo bem? <br><br>
    Você entrou em contato com a Academia Python para falar sobre <strong>{{ assunto }}</strong>.<br>
    Agradecemos imensamente por sua mensagem. O mais breve possível entraremos em contato. <br><br>
    
    <p>Att.</p>
    <p><em>Academia Python</em></p>

</body>
</html>